pulse-diagram  {
    display: block;
}
pulse-diagram svg {
    height: 200px;
}

pulse-diagram.theme-dark {
    background-color: black;
    color: white;
}

pulse-diagram input[ng-model="line.name"],
pulse-diagram input[ng-model="line.xOffset"],
pulse-diagram input[ng-model="line.yOffset"],
pulse-diagram input[ng-model="line.height"] {
    border-radius: 5px;
    width: 50px;
}

pulse-diagram input[ng-model="line.input"] {
    width: 400px;
}